<div class="card card-shirt" [ngClass]="formatControl.value | getCardHeight">
  <div class="shirt-background-container">
    @if (cardForm.value.image) {
      <img class="image" [src]="cardForm.value.image" alt="">
    }
  </div>

  @if (cardForm.value.cardback) {
    <img class="frame" [src]="cardForm.value.cardback | getCardbackImage" alt="">
  } @else {
    <img class="frame" [src]="cardForm.value.frame | getFrameImage:false" alt="">
  }

  @if (cardForm.value.type) {
    <img class="power-banner" [ngSrc]="cardForm.value.mainFaction | getBannerImage" fill alt="">

    <img class="rarity" [ngSrc]="cardForm.value.rarity | getRarityImage" fill alt="">
  }

  @if (cardForm.value.type === 'unit') {
    <div class="power">{{cardForm.value.power}}</div>
  } @else if (cardForm.value.type) {
    <img class="type" [ngSrc]="cardForm.value.type | getTypeImage" fill alt="">
  }

  @if (cardForm.value.armor) {
    <img class="armor-banner" [ngSrc]="'assets/images/armor_banner.png'" fill alt="">

    <div class="armor">{{cardForm.value.armor}}</div>
  }

  @if (cardForm.value.provision) {
    <img class="provision-head" [ngSrc]="'assets/images/provision_banner_head.png'" fill alt="">
    <img class="provision-banner" [ngSrc]="cardForm.value.mainFaction | getProvisionBannerImage" fill alt="">

    <div class="provision" [style.font-size]="cardForm.value.provision | getProvisionFontSize">
      {{cardForm.value.provision}}
    </div>
  }
</div>


