<div class="card-settings" [formGroup]="cardForm">
  <div class="section">
    <div class="section-line">
      <h4>Faction</h4>
      <div class="button-list">
        <ng-container *ngFor="let faction of factionList">
          <app-icon-button *ngIf="faction.name" [item]="faction"
                           (click)="setMainFaction(faction)"
                           [isActive]="faction.name === cardForm.get('mainFaction')?.value">
          </app-icon-button>
        </ng-container>
      </div>
    </div>

    <div class="section-line">
      <h4>Second Faction</h4>
      <div class="button-list">
        <ng-container *ngFor="let faction of factionList">
          <app-icon-button *ngIf="faction.name !== 'N'" [item]="faction"
                           (click)="setSecondFaction(faction)"
                           [isActive]="faction.name === cardForm.get('secondFaction')?.value">
          </app-icon-button>
        </ng-container>
      </div>
    </div>

    <div class="two-sections">
      <div class="section-line">
        <h4>Frame</h4>
        <div class="button-list">
          <ng-container *ngFor="let frame of frameList">
            <app-icon-button [item]="frame" [imageSize]="30"
                             (click)="setFrame(frame)"
                             [isActive]="frame.name === cardForm.get('frame')?.value">
            </app-icon-button>
          </ng-container>
        </div>
      </div>

      <div class="section-line">
        <h4>Rarity</h4>
        <div class="button-list">
          <ng-container *ngFor="let rarity of rarityList">
            <app-icon-button [item]="rarity" [imageSize]="25"
                             (click)="setRarity(rarity)"
                             [isActive]="rarity.name === cardForm.get('rarity')?.value">
            </app-icon-button>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="stat-line">
      <div class="stat-block">
        <img [ngSrc]="'assets/images/power.png'" [height]="38" [width]="38" alt="">
        <input type="text" formControlName="power">
      </div>
      <div class="stat-block">
        <img [ngSrc]="'assets/images/armor.png'" [height]="38" [width]="38" alt="">
        <input type="text" formControlName="armor">
      </div>
    </div>

    <div class="button-list" [style.justify-content]="'space-between'">
      <app-text-button [text]="'Load Image'" (click)="fileUpload.click()">
        <input type="file" [style.display]="'none'" (change)="uploadCardShirt($event)" #fileUpload accept="image/*">
      </app-text-button>

      <app-text-button [text]="'Copy Tab Character'" [cdkCopyToClipboard]="'ㅤ'">
      </app-text-button>
    </div>

  </div>

  <div class="section">
    <div class="section-line">
      <h4>Card Name</h4>
      <input formControlName="name">
    </div>

    <div class="section-line">
      <h4>Categories</h4>
      <input formControlName="categories">
    </div>

    <div class="section-line">
      <h4>Description</h4>
      <textarea formControlName="description" [rows]="5"></textarea>
    </div>

    <div class="section-line">
      <h4>Keywords</h4>
      <textarea formControlName="keywords" [rows]="3"></textarea>
    </div>

    <div class="section-line">
      <h4>Flavour text</h4>
      <textarea formControlName="flavourText" [rows]="3"></textarea>
    </div>
  </div>
</div>
