<div class="card-settings" [formGroup]="cardForm">
  <div class="section icons">
    <div class="section-line">
      <h4>{{ 'settings.language' | translate }}</h4>
      <div class="button-list">
        @for (language of languageList; track language) {
          @if (language.name) {
            <app-icon-button [item]="language"
                             (click)="setLanguage(language)"
                             [isActive]="language.name === languageControl.value">
            </app-icon-button>
          }
        }
      </div>
    </div>

    <div class="section-line">
      <h4>{{ 'settings.faction' | translate }}</h4>
      <div class="button-list">
        @for (faction of factionList; track faction) {
          @if (faction.name) {
            <app-icon-button [item]="faction"
                             (click)="setMainFaction(faction)"
                             [isActive]="faction.name === cardForm.get('mainFaction')?.value">
            </app-icon-button>
          }
        }
      </div>
    </div>

    <div class="section-line">
      <h4>{{ 'settings.second-faction' | translate }}</h4>
      <div class="button-list">
        @for (faction of factionList; track faction) {
          @if (faction.name !== 'N') {
            <app-icon-button [item]="faction"
                             (click)="setSecondFaction(faction)"
                             [isActive]="faction.name === cardForm.get('secondFaction')?.value">
            </app-icon-button>
          }
        }
      </div>
    </div>

    <div class="two-sections">
      <div class="section-line">
        <h4>{{ 'settings.frame' | translate }}</h4>
        <div class="button-list">
          @for (frame of frameList; track frame) {
            <app-icon-button [item]="frame" [imageHeight]="30" [imageWidth]="30"
                             (click)="setFrame(frame)"
                             [isActive]="frame.name === cardForm.get('frame')?.value">
            </app-icon-button>
          }
        </div>
      </div>

      <div class="section-line">
        <h4>{{ 'settings.rarity' | translate }}</h4>
        <div class="button-list">
          @for (rarity of rarityList; track rarity) {
            <app-icon-button [item]="rarity" [imageHeight]="25" [imageWidth]="25"
                             (click)="setRarity(rarity)"
                             [isActive]="rarity.name === cardForm.get('rarity')?.value">
            </app-icon-button>
          }
        </div>
      </div>
    </div>

    <div class="section-line">
      <h4>{{ 'settings.cardback' | translate }}</h4>
      <div class="button-list cardback-list">
        <app-text-button [text]="'settings.load-image'" [width]="'160px'"
                         (click)="setCardback(cardbackList[0]); fileUpload.click()">
          <input type="file" [style.display]="'none'" (change)="uploadCardShirt($event)" #fileUpload accept="image/*">
        </app-text-button>
        @for (cardback of cardbackList; track cardback; let index = $index) {
          <app-icon-button *ngIf="index" [item]="cardback" [imageHeight]="30" [imageWidth]="25"
                           (click)="setCardback(cardback)"
                           [isActive]="cardback.name === cardForm.get('cardback')?.value">
          </app-icon-button>
        }
      </div>
    </div>

    <div class="section-line">
      <h4>{{ 'settings.type' | translate }}</h4>
      <div class="button-list">
        @for (type of typeList; track type) {
          <app-icon-button *ngIf="type.name !== 'N'" [item]="type"
                           (click)="setType(type)"
                           [isActive]="type.name === cardForm.get('type')?.value">
          </app-icon-button>
        }
      </div>
    </div>

    <div class="stat-line">
      <div class="stat-block">
        <img [ngSrc]="'assets/images/power.png'" [height]="38" [width]="38" alt="">
        <input type="text" formControlName="power">
      </div>
      <div class="stat-block">
        <img [ngSrc]="'assets/images/armor.png'" [height]="38" [width]="38" alt="">
        <input type="text" formControlName="armor">
      </div>
      <div class="stat-block">
        <img [ngSrc]="'assets/images/provision.png'" [height]="38" [width]="38" alt="">
        <input type="text" formControlName="provision">
      </div>
      <div class="stat-block">
        <h4>{{ 'settings.font-size' | translate }}</h4>
        <input type="number" formControlName="fontSize">
      </div>
    </div>

    <div class="button-list" [style.justify-content]="'space-between'">
      <app-text-button [text]="'settings.tab-char'" [cdkCopyToClipboard]="'ㅤ'"
                       [matTooltip]="'This one as well as tab in text editor does not work in Mozilla'">
      </app-text-button>

      <app-text-button [text]="'settings.multiplication-sign'" [cdkCopyToClipboard]="'×'">
      </app-text-button>
    </div>

  </div>

  <div class="section">
    <div class="section-line">
      <h4>{{ 'content.name' | translate }}</h4>
      <input formControlName="name">
    </div>

    <div class="section-line">
      <h4>{{ 'content.categories' | translate }}</h4>
      <input formControlName="categories">
    </div>

    <div class="section-line">
      <h4>
        {{ 'content.stats' | translate }}
        <app-icon-button (click)="toggleStat()" [item]="factionList[1]"
                         [imageHeight]="18" [imageWidth]="18"
                         [isActive]="cardForm.get('showStats')?.value">
        </app-icon-button>
      </h4>
      @if (cardForm.get('showStats')?.value) {
        <div class="stats">
          <div class="stat">
            <span>{{ 'content.stat-name.strength' | translate }}</span><input formControlName="STR" type="number">
          </div>
          <div class="stat">
            <span>{{ 'content.stat-name.dexterity' | translate }}</span><input formControlName="DEX" type="number">
          </div>
          <div class="stat">
            <span>{{ 'content.stat-name.constitution' | translate }}</span><input formControlName="CON" type="number">
          </div>
          <div class="stat">
            <span>{{ 'content.stat-name.intellect' | translate }}</span><input formControlName="INT" type="number">
          </div>
          <div class="stat">
            <span>{{ 'content.stat-name.wisdom' | translate }}</span><input formControlName="WIS" type="number">
          </div>
          <div class="stat">
            <span>{{ 'content.stat-name.charisma' | translate }}</span><input formControlName="CHA" type="number">
          </div>
        </div>
      }
    </div>

    <div class="section-line">
      <h4>{{ 'content.description' | translate }}</h4>
      <!--<quill-editor class="main-description" formControlName="description">
      </quill-editor>-->
      <app-text-editor class="main-description" [control]="cardForm | getFormControl:'description'">
      </app-text-editor>
    </div>

    <div class="section-line">
      <h4>{{ 'content.keywords' | translate }}</h4>
      <app-text-editor class="secondary-description" [control]="cardForm | getFormControl:'keywords'">
      </app-text-editor>
    </div>

    <div class="section-line">
      <h4>{{ 'content.flavour-text' | translate }}</h4>
      <app-text-editor class="secondary-description" [control]="cardForm | getFormControl:'flavourText'">
      </app-text-editor>
    </div>

    <div class="section-line">
      <h4>{{ 'content.templates' | translate }}</h4>
      <div class="button-list">
        <app-text-button [text]="'content.spell'" (click)="setSpellTemplate()"></app-text-button>
        <app-text-button [text]="'content.npc'" (click)="setCharacterTemplate()"></app-text-button>
      </div>
    </div>
  </div>
</div>
