<div class="card"></div>

<div class="card">
  <div class="header-background">
    <div class="header">
      <span class="title">{{cardForm.get('name')?.value}}</span>
      <span class="subtitle">{{cardForm.get('categories')?.value}}</span>
    </div>
  </div>
  <div class="content-background">
    <div class="content" [innerHTML]="cardForm.get('description')?.value" [style.height]="'100%'"></div>

    <ng-container *ngIf="cardForm.get('keywords')?.value as keywords">
      <img class="separator" [ngSrc]="'assets/images/separator.png'" [height]="19" [width]="228" alt="">
      <div class="content" [innerHTML]="keywords"></div>
    </ng-container>
  </div>

  <ng-container *ngIf="cardForm.get('flavourText')?.value as flavorText">
    <img [ngSrc]="'assets/images/divider.png'" [height]="3" [width]="323" alt="">
    <div class="footer-background-1">
      <div class="content" [innerHTML]="flavorText"></div>
    </div>
  </ng-container>

  <div class="footer-background-2"></div>
</div>

