@import "src/assets/mixins";

.card {
  font-family: mmc, sans-serif;

  .header-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90px;
    min-height: 90px;
    width: 100%;
    background-image: url("./assets/images/header_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .title, .subtitle {
    @include text-shadow;
    font-family: Gwent, sans-serif;
    color: #fff;
    text-align: center;
    z-index: 2;
  }

  .title {
    margin-top: 10px;
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
  }

  .content-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-image: url("./assets/images/description_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-grow: 0;
    overflow: hidden;

    .separator {
      margin: 0 auto;
    }
  }

  .content {
    white-space: break-spaces;
    text-align: justify;
    padding: 10px 20px;
  }

  .footer-background-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 32px;
    width: 100%;
    background-image: url("./assets/images/description_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footer-background-2 {
    background-image: url("./assets/images/footer_small_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 12px;
    width: 325px;
  }

  ::ng-deep b {
    font-family: Gwent, sans-serif;
    color: #600101;
  }
}
