<div class="card" [ngClass]="formatControl.value | getCardHeight" [lang]="currentLocale$ | async">
  <!--<img class="frame" [src]="cardForm.get('frame')?.value | getFrameImage:true" alt="">-->

  <div class="header-background">
    <div class="header">
      @if (formatControl.value === '70 x 120' && cardForm.get('header')?.value) {
        <img [src]="cardForm.value.header | getHeader" alt="">
      } @else {
        <img [src]="cardForm.value.mainFaction | getFactionHeader" alt="">
        @if (cardForm.get('secondFaction')?.value) {
          <img [src]="cardForm.value.secondFaction | getSubFactionHeader" alt="">
        }
      }
      <span class="title">{{cardForm.get('name')?.value}}</span>
      <span class="subtitle">{{cardForm.get('categories')?.value}}</span>
    </div>
  </div>
  <div class="content-background"
       [style.font-size]="cardForm.get('fontSize')?.value + 'px'"
       [style.background-image]="formatControl.value | getContentBackground">
    <div class="content description" [innerHTML]="description">
    </div>

    @if (cardForm.get('keywords')?.value; as keywords) {
      <img class="separator" [ngSrc]="'assets/images/separator.png'" [height]="19" [width]="228" alt="">
      <div class="content" [innerHTML]="keywords"></div>
    }

    @if (cardForm.get('flavourText')?.value; as flavorText) {
      <img class="divider" [ngSrc]="'assets/images/divider.png'" [height]="3" [width]="323" alt="">
      <div class="footer-background-1"
           [style.background-image]="formatControl.value | getContentBackground">
        <div class="content" [innerHTML]="flavorText"></div>
      </div>
    }
  </div>

  <div class="footer-background-2"
       [style.background-image]="formatControl.value | getFooterBackground"></div>
</div>

