<app-card-settings [style.grid-area]="'s'"
                   [formatControl]="formatControl"
                   [cardForm]="cardForm">
</app-card-settings>

<div class="card-result" [style.grid-area]="'r'">
  <div class="card-content" #card>
    <div #shirt>
      <app-card-shirt [formatControl]="formatControl" [cardForm]="cardForm"></app-card-shirt>
    </div>
    <div #content>
      <app-card-content [formatControl]="formatControl" [cardForm]="cardForm"></app-card-content>
    </div>
  </div>

  <div class="button-container">
    <div class="download-buttons">
      <app-text-button [text]="'result.card-shirt'" (click)="download('shirt')"></app-text-button>
      <app-text-button [text]="'result.full-card'" (click)="download('card')"></app-text-button>
      <app-text-button [text]="'result.card-content'" (click)="download('content')"></app-text-button>
    </div>

    <div class="download-data-buttons">
      <app-text-button [text]="'Download Card Data'" (click)="downloadJSON()"></app-text-button>
      <app-text-button [text]="'Upload Card Data'" (click)="fileUpload.click()">
        <input type="file" [style.display]="'none'" (change)="uploadJSON($event)" #fileUpload accept="application/JSON">
      </app-text-button>
    </div>
  </div>
</div>

<div class="footer" [style.grid-area]="'f'">
  THIS WEBSITE IS NOT AFFILIATED WITH CD PROJEKT RED AND MADE IN ACCORDANCE WITH <a href="https://www.cdprojektred.com/en/fan-content">FAN CONTENT GUIDELINES</a><br>
  ALL CONTENT FROM GWENT: THE WITCHER CARD GAME® IS PROPERTY OF CD PROJEKT RED<br><br>
  Based on generator made by <a href="https://gwentcard.online/">Kegian</a>
</div>

<ng-container *desktop></ng-container>
<ng-container *mobile></ng-container>
