<app-card-settings [style.grid-area]="'s'" [cardForm]="cardForm"></app-card-settings>

<div class="card-result" [style.grid-area]="'r'">
  <div class="card-content" #card>
    <div #shirt>
      <app-card-shirt [cardForm]="cardForm"></app-card-shirt>
    </div>
    <div #content>
      <app-card-content [cardForm]="cardForm"></app-card-content>
    </div>
  </div>

  <div class="download-buttons">
    <app-text-button [text]="'result.card-shirt'" (click)="download('shirt')"></app-text-button>
    <app-text-button [text]="'result.full-card'" (click)="download('card')"></app-text-button>
    <app-text-button [text]="'result.card-content'" (click)="download('content')"></app-text-button>
  </div>
</div>

<div class="footer" [style.grid-area]="'f'">
  THIS WEBSITE IS NOT AFFILIATED WITH CD PROJEKT RED AND MADE IN ACCORDANCE WITH <a href="https://www.cdprojektred.com/en/fan-content">FAN CONTENT GUIDELINES</a><br>
  ALL CONTENT FROM GWENT: THE WITCHER CARD GAME® IS PROPERTY OF CD PROJEKT RED<br><br>
  Based on generator made by <a href="https://gwentcard.online/">Kegian</a>
</div>

<ng-container *desktop></ng-container>
<ng-container *mobile></ng-container>
