:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.footer {
  color: #555;
  text-align: center;
  margin: 40px;

  a {
    color: #888;
    text-decoration: none;
  }
}
