/* You can add global styles to this file, and also import other style files */

body {
  background: url("assets/images/bg_site.jpg");
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}

@font-face {
  font-family: Gwent;
  src: url('assets/fonts/gwent_extrabold.ttf') format('truetype');
}

@font-face {
  font-family: mmc;
  src: url('assets/fonts/mmc_regular.ttf') format('truetype');
}

app-card-settings {
  border-image: url("assets/images/bg_card_settings.jpg") 40 fill/40px stretch stretch;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 3px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Gwent, fantasy;
  font-size: 22px;
  color: #600101;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;
  width: 325px;
  position: relative;

  .header-background {
    background-image: url("assets/images/bg_card_header.png");
  }

  .content-background {
    background-image: url("assets/images/bg_card_description.png");
  }

  .footer-background-1 {
    background-image: url("assets/images/bg_card_description.png");
  }

  .footer-background-2 {
    background-image: url("assets/images/bg_footer_small.png");
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: #2b1e16;
  border-image: url("assets/images/button.png") 11 fill/11px stretch stretch;

  &:hover, &.active {
    border-image: url("assets/images/button_active.png") 11 fill/11px stretch stretch;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
  width: 100%;

  tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  th, td {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    padding: 0 3px;

    &:not(&:last-of-type) {
      border-right: 1px solid #600101;
    }

    &:not(&:first-of-type) {
      border-left: 1px solid #600101;
    }
  }

  th {
    border-bottom: 2px solid #600101;
  }
}
