quill-editor {
  border: 2px solid #2b1e16;
  border-radius: 5px;
  background: #e2cca9;

  .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 2px solid #2b1e16;

    .ql-formats {
      margin-right: 5px;
    }

    button {
      height: 20px;
      width: 20px;
    }

    .ql-icon-picker {
      height: 20px;
      width: 24px;
    }

    .ql-clear {
      opacity: 0.7;
    }
  }

  .ql-container {
    font-size: 14px;
    overflow-y: auto;
    @include scrollbar(4px, #600101);

    &.ql-snow {
      border: none;
    }

    .ql-editor {
      @include scrollbar(4px, #600101);
    }
  }
}

.main-description .ql-container {
  min-height: 6rem;
  max-height: 10rem;
}

.secondary-description .ql-container {
  min-height: 2rem;
  max-height: 4rem;
}

.content-background, .ql-editor {
  strong, b {
    font-family: Gwent, sans-serif;
    color: #600101;
  }

  ul, ol, p {
    margin: 0;
    min-height: 1rem;

    &.ql-align-justify {
      text-align: justify;
    }

    &.ql-align-center {
      text-align: center;
    }

    &[class*="ql-indent-"]:not(.ql-direction-rtl)  {
      display: block;
      padding: 0;

      &::before {
        content: 'ㅤ';
      }
    }
  }

  ul, ol {
    padding: 0;

    li {
      padding: 0;

      &::marker {
        content: '';
      }

      &::before {
        content: 'ㅤ• ';
      }
    }
  }
}
